@import "../variable.scss";
.container {
    width: auto;
    max-width: 1242px;
    margin: 0 auto;
}

.logo-Gbx {
    margin-top: 30px;
    margin-left: 21px;
}

.header {
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
    &__title {
        color: $color-blue;
        margin-left: 21px;
    }
    &__lable {
        display: block;
        font-size: 12px;
        font-weight: normal;
        color: $color-dark-blue;
    }
    &__input {
        display: block;
        width: 338px;
        height: 41px;
        border: 2px solid $color-light-blue;
        border-right: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        color: $color-grey;
        font-size: 18px;
        font-family: "Roboto", sans-serif;
        padding-left: 20px;
        // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        &:disabled {
            background-color: $color-light-blue;
        }
    }
    &__error {
        color: red;
    }
    &__inputContainer {
        display: flex;
        align-items: center;
    }
    &__button {
        background-color: white;
        width: 81px;
        height: 41px;
        border: 2px solid $color-light-blue;
        border-left: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        cursor: pointer;
        outline: none;
        &:disabled {
            background-color: $color-light-blue;
        }
    }
}