$color-blue: #002bdc;
$color-light-blue: #f1f4ff;
$color-dark-blue: #304389;
$color-light-purple: #a5b8ff;
$color-grey: #848484;
$color-scrollbar-track: #e1e1e1;
$color-scrollbar-thumb: #a8a8a8;
$color-blue-sky: #00c9e4;